
/* 1 */
*{
  font-style: Arial, sans-serif;
}


body{
  background-color: #f4f4f4
}


/* 2 */
header{
  background-color: #333;
  color: white;
}


/* 3 */
a:hover {color: yellow}


/* 4 */
#portfolio_title{
font-size: 2.5em;
}


/* 5 */

section {
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;

}

/* 6 */
img {
  border-radius: 50%;
  display: block;
  margin: auto;
  border-width: 40px;
}

/* 7 */
li{
  list-style-type: square;
  margin: 10px;
}

/* 8 */

footer{
  text-align: center;
  background-color: #ddd;
}
